footer {
	background: $eerie-black;
	padding: 30px 0;
}

.footer-category {
	margin-bottom: 30px;
	padding-bottom: 15px;
	border-bottom: 1px solid $onyx;
}

.footer-category-title {
	color: $salmon-pink;
	font-size: $fs-6;
	font-weight: $weight-600;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.footer-category-box {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	column-gap: 20px;
	row-gap: 3px;
	margin-bottom: 15px;
}

.category-box-title {
	color: $spanish-gray;
	font-size: $fs-8;
	font-weight: $weight-600;
	text-transform: uppercase;
}

.footer-category-link {
	position: relative;
	color: $sonic-silver;
	font-size: $fs-7;
	text-transform: capitalize;
	transition: $transition-timing;
}

.footer-category-link:hover {
	color: $spanish-gray;
}

.footer-category-link:not(:last-child)::after {
	position: absolute;
	content: "";
	top: 3px;
	right: -10px;
	background: $sonic-silver;
	width: 1px;
	height: 15px;
}

//footer nav

.footer-nav {
	border-bottom: 1px solid $onyx;
	padding-bottom: 30px;
	margin-bottom: 30px;
}

.footer-nav-list:not(:last-child) {
	margin-bottom: 20px;
}

.footer-nav .nav-title {
	position: relative;
	color: $white;
	font-size: $fs-7;
	text-transform: uppercase;
	margin-bottom: 15px;
	padding-bottom: 5px;
}

.footer-nav .nav-title::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	background: $salmon-pink;
	width: 60px;
	height: 1px;
}

.footer-nav-item {
	padding: 3px 0;
}

.footer-nav-link,
.footer-nav-item .content {
	width: max-content;
	color: $sonic-silver;
	font-size: $fs-7;
	text-transform: capitalize;
	transition: $transition-timing;
}

.footer-nav-link:hover {
	color: $salmon-pink;
}

.footer-nav-item.flex {
	display: flex;
	align-items: flex-start;
	gap: 10px;
}

.footer-nav-item .content {
	font-style: normal;
	margin-bottom: 5px;
}

.footer-nav-item .icon-box {
	color: $sonic-silver;
	font-size: 25px;
}

.footer-nav-item .icon-box ion-icon {
	--ionicon-stroke-width: 30px;
}

.footer-nav .social-link {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 10px;
}

.social-link .footer-nav-link {
	font-size: 25px;
}

.footer-bottom {
	margin-bottom: 50px;
	text-align: center;
}

.payment-img {
	max-width: 335px;
	width: 100%;
	margin: auto;
	margin-bottom: 15px;
}

.copyright {
	color: $sonic-silver;
	font-size: $fs-8;
	font-weight: $weight-500;
	text-transform: capitalize;
	letter-spacing: 1.2px;
}

.copyright a {
	display: inline;
	color: inherit;
}
