.container {
	padding: 0 15px;
}

.has-scrollbar {
	padding-bottom: 5px;
}

.has-scrollbar::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
	background: transparent;
	border: 3px solid $white;
	border-radius: 20px;
}

.has-scrollbar:hover::-webkit-scrollbar-thumb {
	background: hsl(0, 0%, 90%);
}

.has-scrollbar::-webkit-scrollbar-thumb:hover {
	background: hsl(0, 0%, 80%);
}

.title {
	color: $eerie-black;
	font-size: $fs-5;
	font-weight: $weight-600;
	letter-spacing: 0.4px;
	text-transform: capitalize;
	padding-bottom: 10px;
	border-bottom: 1px solid $cultured;
	margin-bottom: 30px;
}
